<ion-view view-title="Cuenta">
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="cambiarContrasena()">Cambiar Contraseña</button>
        <button class="button button-block button-positive" ng-click="logout()">Cerrar Sesión</button>
        <!--button class="button button-block button-positive" ng-click="obtenerCoordenadas()">Obtener Coordenadas</button-->
        <!--button class="button button-block button-positive" ng-click="leerArchivo()">Leer Archivo</button>
        <button class="button button-block button-positive" ng-click="escribirArchivo()">Escribir Archivo</button>
        <button class="button button-block button-positive" ng-click="insertarRegistro()">Insertar Registro</button>
        <button class="button button-block button-positive" ng-click="leerRegistro()">Leer Registro</button>
        <button class="button button-block button-positive" ng-click="eliminarDB()">Eliminar Base</button-->
    </ion-content>
</ion-view>
