<ion-view view-title="Cambiar Contraseña">
    <!--ion-nav-buttons side="primary">
      <button class="button button-positive button-positive" ng-click="guardar()">Guardar</button>
      <button class="button button-positive button-positive" ng-click="showConfirm()">Cancelar</button>
    </ion-nav-buttons-->
    <ion-content class="padding">
        <!--div>Contraseña anterior:</div>
        <input type="password" name="password-anterior"></input>
        <br/>
        <div>Contraseña nueva:</div>
        <input type="password" name="password-nuevo"></input>
        <br/>
        <div>Vuelva a ingresar la contraseña nueva:</div>
        <input type="password" name="password-nuevo-2"></input>
        <br/>
        <button class="button button-block button-positive" ng-click="aceptar()">Aceptar</button>
        <button class="button button-block button-positive" ng-click="cancelar()">Cancelar</button-->
        <form name="CambiarContrasenaForm" ng-controller="CambiarContrasenaCtrl" novalidate>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña Actual" name="actual" ng-model="password.actual" required>
            </label>
            <div class="item item-message" ng-if="CambiarContrasenaForm.actual.$error.required && CambiarContrasenaForm.actual.$dirty">
                La Contraseña actual es requerida
            </div>
            <label class="item item-input">
                <input type="password" placeholder="Contraseña Nueva" name="nuevo1" ng-model="password.nuevo1" required>
            </label>
            <div class="item item-message" ng-if="CambiarContrasenaForm.nuevo1.$error.required && CambiarContrasenaForm.nuevo1.$dirty">
                La Contraseña nueva es requerida
            </div>
            <label class="item item-input">
                <input type="password" placeholder="Repetir Contraseña Nueva" name="nuevo2" ng-model="password.nuevo2" required>
            </label>
            <div class="item item-message" ng-if="CambiarContrasenaForm.nuevo2.$error.required && CambiarContrasenaForm.nuevo2.$dirty">
                La Contraseña nueva es requerida
            </div>
            <button class="button button-block button-positive" ng-click="guardar()">Guardar</button>
            <button class="button button-block button-positive" ng-click="showConfirm()">Cancelar</button>
        </form>
    </ion-content>
</ion-view>
