<ion-view view-title="Configuraciones">
<!--ion-view-->
    <ion-nav-buttons side="primary">
      <!--h1 class="title">Planilla</h1-->
      <!--button class="button button-positive" ng-click="submit()" ui-sref="step3">
        Next
      </button-->
      <button class="button button-positive button-positive" ng-click="guardar()">Guardar</button>
      <button class="button button-positive button-positive" ng-click="showConfirm()">Cancelar</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form name="configuracionesForm" ng-controller='ConfiguracionesCtrl' novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="configuracion.url" placeholder="Url" name="url" required>
                </label>
                <div class="item item-message" ng-if="configuracionesForm.url.$error.required && configuracionesForm.url.$dirty">
                    El Path es requerido
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>