<!--script id="templates/done.html" type="text/ng-template"-->
<ion-view>
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show="!hideBackButton">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <!--h1 class="title">final step</h1-->
        <button class="button button-positive button-positive" ng-click="showConfirm()">Cancelar</button>
        <button class="button button-positive button-positive" ng-click="guardar()">Guardar</button>   
        <!--button class="button button-positive" ui-sref="step1" ng-click="reset()"-->
        <!--button class="button button-positive" ui-sref="step1">
        Guardar      
      </button-->
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <!--button class="button button-block button-positive" ng-click="guardar()">Guardar</button>
            <button class="button button-block button-positive" ng-click="cancelar()">Cancelar</button-->
            <div class="item" ng-if="registro.manzana">
                <b>Cod. Manzana:</b> {{ registro.manzana }}
            </div>
            <div class="item" ng-if="registro.direccion">
                <b>Dirección:</b> {{ registro.direccion }}
            </div>
            <div class="item" ng-if="registro.verificacion">
                <b>Verificación:</b> {{ registro.verificado }}
            </div>
            <div class="item" ng-if="registro.jefe_familia">
                <b>Jefe de Familia:</b> {{ registro.jefe_familia }}
            </div>
            <div class="item" ng-if="registro.habitantes">
                <b>Habitantes:</b> {{ registro.habitantes }}
            </div>
            <div class="item" ng-if="registro.febriles">
                <b>Febriles:</b> {{ registro.febriles }}
            </div>
            <div class="item" ng-if="registro.a1">
                <b>A1 Tanque/Cisterna:</b> {{ registro.a1 }}
            </div>
            <div class="item" ng-if="registro.a2">
                <b>A2 Tambor:</b> {{ registro.a2 }}
            </div>
            <div class="item" ng-if="registro.a3">
                <b>A3 Floreros con Agua:</b> {{ registro.a3 }}
            </div>
            <div class="item" ng-if="registro.a4">
                <b>A4 Maceta con plato:</b> {{ registro.a4 }}
            </div>
            <div class="item" ng-if="registro.a5">
                <b>A5 Estanques/Fuentes:</b> {{ registro.a5 }}
            </div>
            <div class="item" ng-if="registro.a6">
                <b>A6 Canaleta de tejado:</b> {{ registro.a6 }}
            </div>
            <div class="item" ng-if="registro.a7">
                <b>A7 Bebedero de animales:</b> {{ registro.a7 }}
            </div>
            <div class="item" ng-if="registro.a8">
                <b>A8 Cántaro:</b> {{ registro.a8 }}
            </div>
            <div class="item" ng-if="registro.a9">
                <b>A9 Aljibe/Pozo:</b> {{ registro.a9 }}
            </div>
            <div class="item" ng-if="registro.a10">
                <b>A10 Otros utiles:</b> {{ registro.a10 }}
            </div>
            <div class="item" ng-if="registro.b1">
                <b>B1 Neumaticos usados:</b> {{ registro.b1 }}
            </div>
            <div class="item" ng-if="registro.b2">
                <b>B2 Aparato doméstico descartable:</b> {{ registro.b2 }}
            </div>
            <div class="item" ng-if="registro.b3">
                <b>B3 Cubetas descartables:</b> {{ registro.b3 }}
            </div>
            <div class="item" ng-if="registro.b4">
                <b>B4 Latas:</b> {{ registro.b4 }}
            </div>
            <div class="item" ng-if="registro.b5">
                <b>B5 Botellas:</b> {{ registro.b5 }}
            </div>
            <div class="item" ng-if="registro.b6">
                <b>B6 Otros inservibles:</b> {{ registro.b6 }}
            </div>
            <div class="item" ng-if="registro.c1">
                <b>C1 Agujero de arbol:</b> {{ registro.c1 }}
            </div>
            <div class="item" ng-if="registro.c2">
                <b>C2 Axilas de hojas:</b> {{ registro.c2 }}
            </div>
            <div class="item" ng-if="registro.c3">
                <b>C3 Agujero de piedra:</b> {{ registro.c3 }}
            </div>
            <div class="item" ng-if="registro.c4">
                <b>C4 Otros naturales:</b> {{ registro.c4 }}
            </div>
            <div class="item" ng-if="registro.sin_criaderos">
                <b>Predio con Criaderos:</b> {{ registro.sin_criaderos }}
            </div>
            <div class="item" ng-if="registro.criaderos_eliminados">
                <b>Criaderos Eliminados:</b> {{ registro.criaderos_eliminados }}
            </div>
            <div class="item" ng-if="registro.criaderos_tratados_fisicamente">
                <b>Tratados Fisicamente:</b> {{ registro.criaderos_tratados_fisicamente }}
            </div>
            <div class="item" ng-if="registro.criaderos_tratados_larvicida">
                <b>Tratados con Larvicida:</b> {{ registro.criaderos_tratados_larvicida }}
            </div>
            <div class="item" ng-if="registro.larvicida_A">
                <b>Cantidad Larvicida:</b> {{ registro.larvicida_A }}
            </div>
            <div class="item" ng-if="registro.larvicida_B">
                <b>Cantidad Larvicida:</b> {{ registro.larvicida_B }}
            </div>
            <div class="item" ng-if="registro.larvicida_C">
                <b>Cantidad Larvicida:</b> {{ registro.larvicida_C }}
            </div>
        </div>
    </ion-content>
</ion-view>
<!--/script-->
