<ion-view view-title="Autenticación">
    <ion-content class="padding">
        <div>Usuario:</div>
        <input type="text" name="username" placeholder="Ingrese el usuario" ng-model="login.username"/>
        <br/>
        <div>Contraseña:</div>
        <input type="password" name="password" placeholder="Ingrese la contraseña" ng-model="login.password"/>
        <button class="button button-block button-positive" ng-click="authenticate()">Iniciar Sesión</button>
        <!--button class="button button-block button-positive" ng-click="nuevoUsuario()">Nuevo Usuario</button-->
        <!--button class="button button-block button-positive" ng-click="configuraciones()">Configuraciones</button-->
        <button class="button button-block button-positive" ng-click="cerrarAplicacion()">Cerrar Aplicacion</button>
    </ion-content>
</ion-view>
