<ion-view view-title="Nuevo Usuario">
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show=false>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <button class="button button-positive button-positive" ng-click="guardar()">Guardar</button>
        <button class="button button-positive button-positive" ng-click="showConfirm()">Cancelar</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form name="nuevaPlanillaForm" novalidate>
            <!--div>Cédula de Identidad:</div>
            <input type="tel" name="cedula-identidad"></input>
            <br/>
            <div>Nombre:</div>
            <input type="text" name="nombre"></input>
            <br/>
            <div>Apellido:</div>
            <input type="text" name="apellido"></input>
            <br/>
            <div>Contraseña:</div>
            <input type="password" name="password"></input>
            <br/-->
            <label class="item item-input">
                <input type="text" placeholder="Idenficador de Usuario" name="id_usuario" ng-model="user.id_usuario" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.id_usuario.$error.required && nuevaPlanillaForm.id_usuario.$dirty">
                El Identificador de Usuario es requerido
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Contraseña" name="contrasena" ng-model="user.contrasena" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.contrasena.$error.required && nuevaPlanillaForm.contrasena.$dirty">
                La Contraseña es requerida
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Contraseña" name="contrasena2" ng-model="user.contrasena2" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.contrasena2.$error.required && nuevaPlanillaForm.contrasena2.$dirty">
                La Contraseña es requerida
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Nombre" name="nombre" ng-model="user.nombre" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.nombre.$error.required && nuevaPlanillaForm.nombre.$dirty">
                El Nombre es requerido
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Apellido" name="apellido" ng-model="user.apellido" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.apellido.$error.required && nuevaPlanillaForm.apellido.$dirty">
                El Apellido es requerido
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Fecha Nacimiento" name="fecha_nacimiento" ng-model="user.fecha_nacimiento" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.fecha_nacimiento.$error.required && nuevaPlanillaForm.fecha_nacimiento.$dirty">
                La Fecha de Nacimiento es requerida
            </div>
            <!--label class="item item-input">
                <input type="text" placeholder="Pregunta" name="pregunta" ng-model="user.pregunta" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.pregunta.$error.required && nuevaPlanillaForm.pregunta.$dirty">
                La Pregunta es requerida
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Respuesta" name="respuesta" ng-model="user.respuesta" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.respuesta.$error.required && nuevaPlanillaForm.respuesta.$dirty">
                La Respuesta es requerida
            </div-->
        </form>
    </ion-content>
</ion-view>
