<ion-view view-title="Planilla">
    <ion-nav-buttons side="primary">
      <button class="button button-positive button-positive" ng-click="showConfirm()">Cancelar</button>
      <button class="button button-positive button-positive" ng-click="guardar()">Guardar</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form name="nuevaPlanillaForm" ng-controller="NuevaPlanillaCtrl" novalidate>
            <label class="item item-select">
                <div class="input-label">
				    Tipo Control
                </div>
                <select ng-model="planilla.tipo_control" ng-options="opt as opt.nombre for opt in list_tipo_control">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.tipo_control.$error.required && nuevaPlanillaForm.tipo_control.$dirty"> 
                    El Tipo Control es requerido
                </div>
            </label>
            <label class="item item-select">
                <div class="input-label" >
				    Departamento
                </div>
                <select ng-model="planilla.departamento"
                ng-options="opt as opt.nombre for opt in list_departamento" ng-change="selectListaDistritoPorDepartamento()">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.departamento.$error.required && nuevaPlanillaForm.departamento.$dirty">
                    El Departamento es requerido
                </div>
            </label>
            <label class="item item-select">
                <div class="input-label">
				    Distrito
                </div>
                <select ng-model="planilla.distrito"
                ng-options="opt as opt.nombre for opt in list_distrito" ng-change="selectListaBarrioPorDistrito()" ng-init="sw1=true" ng-disabled="sw1==true">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.distrito.$error.required && nuevaPlanillaForm.distrito.$dirty">
                    El Distrito es requerido
                </div>
            </label>
            <label class="item item-select">
                <div class="input-label">
				    Barrio
                </div>
                <select ng-model="planilla.barrio"
                ng-options="opt as opt.nombre for opt in list_barrio" ng-init="sw2=true" ng-disabled="sw2==true">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.barrio.$error.required && nuevaPlanillaForm.barrio.$dirty">
                    El Barrio es requerido
                </div>
            </label>
            <label class="item item-select">
                <div class="input-label">
				    Encargado
                </div>
                <select ng-model="planilla.encargado"
                ng-options="opt as opt.nombre + ' ' + opt.apellido for opt in list_usuario">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.encargado.$error.required && nuevaPlanillaForm.encargado.$dirty">
                    El Encargado es requerido
                </div>
            </label>
            <label class="item item-select">
                <div class="input-label">
				    Operador
                </div>
                <select ng-model="planilla.operador"
                ng-options="opt as opt.nombre + ' ' + opt.apellido for opt in list_usuario">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.operador.$error.required && nuevaPlanillaForm.operador.$dirty">
                    El Operador es requerido
                </div>
            </label>
            <label class="item item-select">
                <div class="input-label">
				    Supervisor
                </div>
                <select ng-model="planilla.supervisor"
                ng-options="opt as opt.nombre + ' ' + opt.apellido for opt in list_usuario">
                </select>
                <div class="item item-message" ng-if="nuevaPlanillaForm.supervisor.$error.required && nuevaPlanillaForm.supervisor.$dirty">
                    El Supervisor es requerido
                </div>
            </label>
            <label class="item item-input"> Cuadrilla:&nbsp 
                <!--input type="text" placeholder="Cuadrilla" name="cuadrilla" ng-model="planilla.cuadrilla" maxlength="20" required-->
                <input type="text" name="cuadrilla" ng-model="planilla.cuadrilla" maxlength="20" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.cuadrilla.$error.required && nuevaPlanillaForm.cuadrilla.$dirty">
                La Cuadrilla es requerida
            </div>
            <label class="item item-input"> Brigada:&nbsp 
                <!--input type="text" placeholder="Brigada" name="brigada" ng-model="planilla.brigada" maxlength="20" required-->
                <input type="text" name="brigada" ng-model="planilla.brigada" maxlength="20" required>
            </label>
            <div class="item item-message" ng-if="nuevaPlanillaForm.brigada.$error.required && nuevaPlanillaForm.brigada.$dirty">
                La Brigada es requerida
            </div>
        </form>
    </ion-content>
</ion-view>
