<ion-view view-title="Nuevo Registro">
    <ion-content class="padding">
        <div>Manzana:</div>
        <input type="text" name="manzana"></input>
        <br/>
        <div>Direccion:</div>
        <input type="text" name="direccion"></input>
        <br/>
        <div>coordenada:</div>
        <input type="text" name="coordenada"></input>
        <br/>
        <select name="verificadoSelect" ng-model="data.verificadoSelect">
          <option value="true">SI</option>
          <option value="false">NO</option>
        </select><br/>
        <select name="predioSelect" ng-model="data.predioSelect">
          <option value="vivienda">Vivienda</option>
          <option value="baldio">Baldio</option>
    	  <option value="etc">Etc</option>
        </select><br/>
        <div>Jefe de Familia:</div>
        <input type="text" name="jefeFlia"></input>
        <br/>
        <button class="button button-block button-positive" ng-click="guardar()">Guardar</button>
        <button class="button button-block button-positive" ng-click="cancelar()">Cancelar</button>
    </ion-content>
</ion-view>
