<ion-view view-title="Planillas">
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="agregarS1()">Agregar</button>
        <!--button class="button button-block button-positive" ng-click="modificarS1()">Modificar</button-->
        <div class="list card card" ng-repeat="event in events">
            <div class="item item-divider">
                {{ event.usuario}}
                <p>
                    {{event.fecha}} | {{event.departamento}} | {{event.distrito}} | {{event.barrio}}
                </p>
            </div>
            <div class="item item-body">
                <div class="item item-button-right">
                    <!--div>
                        {{ event.tipo_control}}
                    </div-->
                    <div>
                        <button class="button button-positive" ng-click="modificarPlanilla( event.id )">
                <i class="icon ion-android-settings"></i>
              </button>
                    </div>
                    <button class="button button-positive" ng-click="irPantallaRegistros( event.id )">
            <i class="icon ion-ios-list-outline"></i>
          </button>
                </div>
            </div>
        </div>
        <!--div class="row responsive-sm"> 
	        <div ng-repeat="event in events"> 
                <button id={{$index}} class="button button-dark col" >{{event.title}}</button>
            </div>
	    </div-->
    </ion-content>
</ion-view>
