<ion-view view-title="Registros">
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show=false>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="agregarRegistro()">Agregar</button>
        <button class="button button-block button-positive" ng-click="cancelar()">Cancelar</button>
        <div class="list card card" ng-repeat="record in records">
            <div class="item item-divider">
                {{record.fecha}}
                <!--/p-->
            </div>
            <div class="item item-body">
                <div class="item item-button-right">
                    <!--div>
                        {{ record.predio }} | {{record.direccion}}
                    </div-->
                    <div ng-if="record.enviado == 'true'">
                        <i class="icon ion-checkmark-circled"></i> | {{ record.predio }} | {{record.direccion}} 
                    </div>
                    <div ng-if="record.enviado == 'false'">
                        <i class="icon ion-close-circled"></i> | {{ record.predio }} | {{record.direccion}}
                    </div>
                    <button class="button button-positive" ng-click="modificarRegistro( record.id )">
            <i class="icon ion-ios-list-outline"></i>
          </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
