<!--script id="templates/step3.html" type="text/ng-template"-->
<ion-view>
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show="!hideBackButton">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <!--h1 class="title">Step 4</h1-->
        <button class="button button-positive" ng-click="submit()" ui-sref="step5">
        Siguiente
      </button>
    </ion-nav-buttons>
    <ion-content>
        <form name="step4Form" ng-controller="Step4FormCtrl" novalidate>
            <div class="list">
                <label class="item item-input"> C1:&nbsp
            <input type="tel" placeholder="Agujero de arbol" name="c1" ng-model="registro.c1">
          </label>
                <label class="item item-input"> C2:&nbsp
            <input type="tel" placeholder="Axilas de hojas" name="c2" ng-model="registro.c2">
          </label>
                <label class="item item-input"> C3:&nbsp
            <input type="tel" placeholder="Agujero de piedra" name="c3" ng-model="registro.c3">
          </label>
                <label class="item item-input"> C4:&nbsp
            <input type="tel" placeholder="Otros naturales" name="c4" ng-model="registro.c4">
          </label>
            </div>
        </form>
    </ion-content>
</ion-view>
<!--/script-->
