<!--script id="templates/step1.html" type="text/ng-template"-->
<ion-view>
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show="!hideBackButton">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <button class="button button-positive button-positive" ng-click="showConfirm()">Cancelar</button>
        <button class="button button-positive button-positive" ng-click="guardar()" ng-show="!registro.verificado">Guardar</button>
        <button class="button button-positive" ng-click="submit()" ui-sref="step2" ng-show="registro.verificado">
        <!--button class="button button-positive button-positive" ng-click="guardar()" ng-show="sw1==true">Guardar</button>
        <button class="button button-positive" ng-click="submit()" ui-sref="step2" ng-show="sw1==false"-->
			Siguiente
		</button>
    </ion-nav-buttons>
    <ion-content>
        <form name="step1Form" ng-controller="Step1FormCtrl" novalidate>
            <div class="list">
                <!--button class="button button-block button-positive" ng-click="guardar()" ng-show="!registro.verificado">Guardar</button>
                <button class="button button-block button-positive" ng-click="cancelar()">Cancelar</button-->
                <label class="item item-input"> Cod. Manzana:&nbsp
            <!--input type="text" placeholder="Cod. Manzana" name="manzana" ng-model="registro.manzana" maxlength="20" required-->
            <input type="text" name="manzana" ng-model="registro.manzana" maxlength="20" required>  
          </label>
                <div class="item item-message" ng-if="step1Form.manzana.$dirty && step1Form.manzana.$error.required">
                    El cod. Manzana es requerido
                </div>
                <label class="item item-input"> Direccion:&nbsp
            <!--input type="text" placeholder="Direccion" name="direccion" ng-model="registro.direccion" maxlength="50" required-->
            <input type="text" name="direccion" ng-model="registro.direccion" maxlength="50" required> 
          </label>
                <div class="item item-message" ng-if="step1Form.direccion.$dirty && step1Form.direccion.$error.required">
                    La direccion es requerida
                </div>
                <label class="item item-select">
			<div class="input-label">
				Tipo Predio
			</div>
			<!--select ng-model="predio_aux" name="predio" required>
                <option ng-repeat="predio in list_predio" ng-value="predio.id">{{ predio.nombre }}</option>
			</select-->
            <select ng-model="registro.predio"
                ng-options="opt as opt.nombre for opt in list_predio" ng-change="validarVerificado()">
            </select>
            <div class="item item-message" ng-if="flgGuardar && step1Form.predio.$error.required">
                El Tipo Predio es requerido
            </div>
		  </label>
                <div class="item item-checkbox">
                    <label class="checkbox">
               <!--input type="checkbox" name="verificado" ng-model="registro.verificado" ng-checked="registro.verificado"-->
               <input type="checkbox" name="verificado" ng-model="registro.verificado" ng-checked="registro.verificado" ng-disabled="registro.predio.nombre == 'Cerrado' || registro.predio.nombre == 'cerrado' || registro.predio.nombre == 'CERRADO' || registro.predio.nombre == 'Renuente' || registro.predio.nombre == 'renuente' || registro.predio.nombre == 'RENUENTE">
             </label> Verificación
                </div>
                <label class="item item-input"> Jefe de Familia:&nbsp 
            <!--input type="text" placeholder="Jefe de Familia" name="jefe_familia" ng-model="registro.jefe_familia" ng-disabled="!registro.verificado" maxlength="50"-->
            <input type="text" name="jefe_familia" ng-model="registro.jefe_familia" ng-disabled="!registro.verificado" maxlength="50">
          </label>
          <label class="item item-input"> Cantidad Habitantes:&nbsp 
              <!--input type="tel" placeholder="Cantidad Habitantes" name="habitantes" ng-model="registro.habitantes" ng-disabled="!registro.verificado"-->
              <input type="tel" name="habitantes" ng-model="registro.habitantes" ng-disabled="!registro.verificado">
          </label>
          <label class="item item-input"> Cantidad Febriles:&nbsp
              <!--input type="tel" placeholder="Cantidad Febriles" name="febriles" ng-model="registro.febriles" ng-disabled="!registro.verificado"-->
              <input type="tel" name="febriles" ng-model="registro.febriles" ng-disabled="!registro.verificado">  
          </label>
            </div>
        </form>
    </ion-content>
</ion-view>
<!--/script-->
