<!--script id="templates/step3.html" type="text/ng-template"-->
<ion-view>
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show="!hideBackButton">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <!--h1 class="title">Step 5</h1-->
        <button class="button button-positive" ng-click="submit()" ui-sref="done">
        Terminar
      </button>
    </ion-nav-buttons>
    <ion-content>
        <form name="step5Form" ng-controller="Step5FormCtrl" novalidate>
            <div class="list">
                <div class="item item-checkbox">
                    <label class="checkbox">
               <input type="checkbox" name="sin_criaderos" ng-model="registro.sin_criaderos" ng-checked="registro.sin_criaderos" ng-disabled=true>
             </label> Predio sin Criaderos
                </div>
                <label class="item item-input">
            <input type="tel" placeholder="Criaderos Eliminados" name="criaderos_eliminados" ng-model="registro.criaderos_eliminados" ng-disabled="registro.sin_criaderos">
          </label>
                <label class="item item-input">
            <input type="tel" placeholder="Criaderos Tratados Fisicamente" name="criaderos_tratados_fisicamente" ng-model="registro.criaderos_tratados_fisicamente" ng-disabled="registro.sin_criaderos">
          </label>
                <label class="item item-input">
            <input type="tel" placeholder="Criaderos Tratados con Larvicida" name="criaderos_tratados_larvicida" ng-model="registro.criaderos_tratados_larvicida" ng-disabled="registro.sin_criaderos">
          </label>
                <!--label class="item item-input">
            <input type="tel" placeholder="Cantidad Larvicida A" name="larvicida_A" ng-model="registro.larvicida_A">
          </label>
                <label class="item item-input">
            <input type="tel" placeholder="Cantidad Larvicida B" name="larvicida_B" ng-model="registro.larvicida_B">
          </label>
                <label class="item item-input">
            <input type="tel" placeholder="Cantidad Larvicida C" name="larvicida_C" ng-model="registro.larvicida_C">
          </label-->
                <label class="item item-input">
            <input type="tel" placeholder="Cantidad Larvicida" name="larvicida" ng-model="registro.larvicida_A" ng-disabled="registro.sin_criaderos">
          </label-->
            </div>
        </form>
    </ion-content>
</ion-view>
<!--/script-->
