<!--script id="templates/step3.html" type="text/ng-template"-->
<ion-view>
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show="!hideBackButton">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <!--h1 class="title">Step 3</h1-->
        <button class="button button-positive" ng-click="submit()" ui-sref="step4">
        Siguiente
      </button>
    </ion-nav-buttons>
    <ion-content>
        <form name="step3Form" ng-controller="Step3FormCtrl" novalidate>
            <div class="list">
                <label class="item item-input"> B1:&nbsp
            <input type="tel" placeholder="Neumaticos usados" name="b1" ng-model="registro.b1">
          </label>
                <label class="item item-input"> B2:&nbsp
            <input type="tel" placeholder="Aparato doméstico descartable" name="b2" ng-model="registro.b2">
          </label>
                <label class="item item-input"> B3:&nbsp
            <input type="tel" placeholder="Cubetas descartables" name="b3" ng-model="registro.b3">
          </label>
                <label class="item item-input"> B4:&nbsp
            <input type="tel" placeholder="Latas" name="b4" ng-model="registro.b4">
          </label>
                <label class="item item-input"> B5:&nbsp
            <input type="tel" placeholder="Botellas" name="b5" ng-model="registro.b5">
          </label>
                <label class="item item-input"> B6:&nbsp
            <input type="tel" placeholder="Otros inservibles" name="b6" ng-model="registro.b6">
          </label>
            </div>
        </form>
    </ion-content>
</ion-view>
<!--/script-->
