<!--script id="templates/step2.html" type="text/ng-template"-->
<ion-view>
    <ion-nav-bar class="bar bar-stable">
        <ion-nav-back-button ng-show="!hideBackButton">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <!--h1 class="title">Step 2</h1-->
        <button class="button button-positive" ng-click="submit()" ui-sref="step3">
			Siguiente
		</button>
    </ion-nav-buttons>
    <ion-content>
        <form name="step2Form" ng-controller="Step2FormCtrl" novalidate>
            <div class="list"> 
                <label class="item item-input"> A1:&nbsp        
            <input type="tel" placeholder="Tanque/Cisterna" name="a1" ng-model="registro.a1">
          </label>
                <label class="item item-input"> A2:&nbsp
            <input type="tel" placeholder="Tambor" name="a2" ng-model="registro.a2">
          </label>
                <label class="item item-input"> A3:&nbsp
            <input type="tel" placeholder="Floreros con Agua" name="a3" ng-model="registro.a3">
          </label>
                <label class="item item-input"> A4:&nbsp
            <input type="tel" placeholder="Maceta con plato" name="a4" ng-model="registro.a4">
          </label>
                <label class="item item-input"> A5:&nbsp
            <input type="tel" placeholder="Estanques/Fuentes" name="a5" ng-model="registro.a5">
          </label>
                <label class="item item-input"> A6:&nbsp
            <input type="tel" placeholder="Canaleta de tejado" name="a6" ng-model="registro.a6">
          </label>
                <label class="item item-input"> A7:&nbsp
            <input type="tel" placeholder="Bebedero de animales" name="a7" ng-model="registro.a7">
          </label>
                <label class="item item-input"> A8:&nbsp
            <input type="tel" placeholder="Cántaro" name="a8" ng-model="registro.a8">
          </label>
                <label class="item item-input"> A9:&nbsp
            <input type="tel" placeholder="Aljibe/Pozo" name="a9" ng-model="registro.a9">
          </label>
                <label class="item item-input"> A10:&nbsp
            <input type="tel" placeholder="Otros útiles" name="a10" ng-model="registro.a10">
          </label>
            </div>
        </form>
    </ion-content>
</ion-view>
<!--/script-->
