<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- List Tab -->
    <!--ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab-->

    <!-- Operaciones Tab -->
    <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/operaciones">
        <ion-nav-view name="tab-operaciones"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Cuenta" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
